<div class="bodyy">
    <div class="navbar">
        <div class="nav">
            <button class="btn" routerLink="dashboard" style="display: flex;">
                <img width="26px" height="26px" src="../assets//logo_new.png" style="margin-right: 4px;">
                 <h2>ContUi</h2> 
            </button>
            <div style="display: flex;" *ngIf="isUserLoggedIn()">
                <button class="btn" routerLink="new">
                    <img width="26px" height="25px" style="cursor: pointer;"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAX0lEQVRoge3XsQ3AIAwAQcj+O5M6qWiIXtHdALZeNGYMAGDMk8PXWuuxbM5j+65Tg78mpEZIjZAaITVCaoTUbF2j7yv2aztX829eREiNH2KNkBohNUJqhNQIqRECAATdLYAMPjHeUbkAAAAASUVORK5CYII=">
                </button>
                <div>
                    <button class="btn" [matMenuTriggerFor]="beforeMenu"> 
                        <img [src]="getProfilePic()" class="profilePic" />
                        <img width="14px" height="15px" style="margin-bottom: 8px;"
                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAAbElEQVRIie3POQ6AMAxE0YiWmoj73wMuQEfDcT4NBUIsWSZU8yW3fnYIzjnnSgNm9E1Xp7ux+wb/fO8EBmAVfrsBY9J5QjwdFeL5qAAvRyvwerQA16EZuB5NwNuhL3h79IRHYDkm/oI6557aAUkhR8RMclH/AAAAAElFTkSuQmCC">
                    </button>
                    <mat-menu class="matMenuBox" #beforeMenu="matMenu" xPosition="before">
                        <div>

                            <button
                                style="background-color: transparent; border: none; outline: none; padding: 10px 4px;">
                                {{getOpt1()}}
                            </button>

                            <div style="border-top: 1px solid rgb(101, 101, 101);"></div>

                            <button mat-menu-item class="menuItem" (click)="logout()"> Your profile
                            </button>
                            <button mat-menu-item class="menuItem" (click)="logout()">Sign Out
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>

    <div class="view">
        <router-outlet></router-outlet>
    </div>
</div>